extends /template/basic_layout

block append variables
  - title = "" + original_name + " in kanji. Select from many candidates!";
  - description = "Japaname candidates of "+ original_name +". Select kanji you like from many candidates which fits your name sound. You can choose your kanji by meanings or shape of kanji.";
  - tweet =  "Kanji candidates of " + original_name;
  - share_url = url; 
  - body_id = "bg-white";

block topbar
  topbar

block content
  div.selectingKanji__margin(style="height:10rem")



  selecting-bar 
  candidate-table
  gonext-button


block footer
  //include /include/footer.jade

block append body-end-scripts
  script(src="/javascripts/underscore-min.js")
  script(src="/javascripts/riot.min.js")
  script(src="/riotjs/japaname-searchbox.js")
  script(src="/riotjs/topbar.js")
  script(src="/riotjs/japaname-box.js")
  script(src="/riotjs/candidate-table.js")
  script(src="/riotjs/selecting-bar.js")
  script(src="/riotjs/gonext-button.js")
  script(src="/javascripts/AtejiSelector.js")

  script.
    var topbar = riot.mount("topbar", {
      user: !{user ? JSON.stringify(user):"null" },
      drawLogo: true,
      buttonText: "Change",
      searchFontSize: "2rem",
      drawSearchbox: true,
      text: "#{original_name}"
    })[0];

    var syllables = !{JSON.stringify(name_objs[0].syllables)};
    var atejiSelector = new AtejiSelector(syllables,"#{original_name}");

    var selectingBar = riot.mount("selecting-bar",{
      original_name:"#{original_name}",
      atejiSelector:atejiSelector,
      showMeanings:false
      
    })[0]; 

    var candidateTable = riot.mount("candidate-table", {
      atejiSelector: atejiSelector
    });

    var gonextButto = riot.mount("gonext-button", {
      atejiSelector: atejiSelector
    });

    window.onload=function(){
      setTimeout(function(){
        window.scrollTo(0,1);

      },100);
    }

  // なぜかいきなりトップにもどるスクロール我発生する謎のバグ
  // Bitters いれたらなったきがする。ガチで意味分からん。むかつく。

    

  script(src="https://use.typekit.net/yjx8eou.js")
  script try{Typekit.load({ async: true });}catch(e){}

