extends /template/sub_layout




block variables
  - title = "masa page"
  - description = 'masa page' 
  - body_id= 'bg-plane'

block sub-content
  h1 管理ページ

  h2 
    a(href="/admin/requests") 未処理のリクエスト

  //p= JSON.stringify(requests)

  table.table
    thead
      tr
        th 購入者
        th 価格
        th 商品名
        th japaname code

    tbody
      each purchase in purchases
        if purchase.closed === false
          tr(id="#{purchase._id}")
            td= purchase.buyer
            td= purchase.price
            td= purchase.artwork_name
            td= purchase.japaname

  hr
  h2 
    a(href="/admin/users") ユーザー一覧

  table.table
    thead
      tr
        th メールアドレス
        th 権限
        th 登録japaname
        th アクション
    tbody
      each user in users
        tr(id="#{user._id}")
          td= user.username
          td= user.authorities.join(', ')
          td= user.my_japaname 
          td
            a.button(href="/admin/users/#{user._id}") ユーザーページへ
