extends /template/sub_layout




block variables
  - title = "masa page"
  - description = 'masa page' 
  - body_id= 'bg-plane'

block sub-content
  h1 管理ページ

  h2 
    a(href="/admin/requests") 未処理のリクエスト

  //p= JSON.stringify(requests)

  table.table
    thead
      tr
        th フォント
        th 横書き・縦書き
        th 当て字
        th ユーザーID
        th 進捗状況
        th アクション
    tbody
      each request in requests
        if request.progress === "doing" ||  !request.progress
          tr(id="#{request._id}")
            td= request.font
            td= request.direction
            td= request.purchase_ateji.ateji_name
            td= request.user.name
            td= request.progress
            td
              a.button(href="/admin/requests/#{request._id}") リクエストページへ
              //
                form(method="post" action="/admin/done")
                  input(type="hidden" name ="id" value="#{request._id}")
                  input(type="submit" value="done")

  hr
  h2 
    a(href="/admin/users") ユーザー一覧

  table.table
    thead
      tr
        th 認証方法
        th メールアドレス
        th 名前
        th 権限
        th 登録当て字
        th Webpay登録有無
        th アクション
    tbody
      each user in users
        tr(id="#{user._id}")
          td= user.userinfo.method
          td= user.userinfo.email
          td= user.name
          td= user.authorities.join(', ')
          td= user.ateji_id && user.ateji_id.ateji_name
          td= !!(user.webpay_cus_code)
          td
            a.button(href="/admin/users/#{user._id}") ユーザーページへ
