extends /template/sub_layout

block variables
  - title = "users"
  - description = 'lists of users' 
  - body_id= 'bg-plane'

block sub-content

  p
    a(href="/admin") 管理ページへ戻る
  p
    a(href="/admin/users") ユーザー一覧ページへ戻る

  h1 本当にユーザーを削除しますか？

  table.table
    thead
      tr
        th 認証方法
        th メールアドレス
        th 名前
        th 権限
        th 登録当て字
        th Webpay登録有無
    tbody
      tr(id="#{the_user._id}")
        td= the_user.userinfo.method
        td= the_user.userinfo.email
        td= the_user.name
        td= the_user.authorities.join(', ')
        td= the_user.ateji_id && user.ateji_id .ateji_name || "none"
        td= !!user.webpay_cus_code

  form(action="./?_method=delete" method="POST")
    input(type="submit" value="ユーザーを削除")

