extends /template/sub_layout


block variables
  - title = "users"
  - description = 'lists of users' 
  - body_id= 'bg-plane'

block sub-content

  p
    a(href="/admin" ) 管理ページへ戻る
  h1 
    ユーザー一覧

  table.table
    thead
      tr
        th メールアドレス
        th 名前
        th 権限
        th 登録当て字
        th link
    tbody
      each user in users
        tr(id="#{user._id}")
          td= user.username
          td= user.username
          td= user.authorities.join(', ')
          td= user.my_japaname && user.my_japaname.string || "none"
          td
            a.button(href="/admin/users/#{user._id}") ユーザーページへ
            a.button(href="/admin/users/#{user._id}/delete") 削除
