
extends /template/sub_layout


block variables
  - title = "users"
  - description = 'lists of users' 
  - body_id= 'bg-plane'

block sub-content

  p
    a(href="/admin") 管理ページへ戻る
  p
    a(href="/admin/users") ユーザー一覧ページへ戻る

  h1 ユーザー: #{the_user.username}

  form(action="?_method=put" method="POST")

    table
      tr
        th 名前
        td= the_user.username

      tr
        th メールアドレス
        td 
          input(type="text" name="username" value="#{the_user.username}")

      tr
        th 権限
        td 
          input(type="text" name="authorities" value="#{the_user.authorities.join(', ')}") 
      tr
        th 登録当て字
        td
          p Japaname Code を入力してください
          input(type="text" name="my_japaname" value="#{the_user.my_japaname || ' '}")

      tr
        th パスワード
        td 
          input(type="password" name="password")

    p
      input(type="submit" value="送信")


  if requests
    h2 このユーザーのリクエスト一覧
    include /admin/include/requests_mixin.jade
    +requests_table(requests)

  a.button(href="/admin/users/#{the_user._id}/delete") ユーザーを削除
