extends /template/simple_struct
block body
  - if(preview){
  -   artwork_width = 50; //mm
  - }
  - var artwork_height = artwork_width * artwork.ratio;


  if preview || sizing
    a(href="/") トップへ戻る
    | --
    a(href="/#{japaname.code}") japaname.string さんのページへ戻る

  if preview
    h1 プレビュー #{artwork.artwork_name} #{japaname.code} 

  
  if sizing 
    table
      tr
        td
          form(action="" method="GET")
            p
              |印刷する幅  
              input(type="text" name="artwork_width" value="#{artwork_width}")
              |mm
        td
          form(action="/shops/arton/artworks/#{artwork.artwork_name}/#{japaname.code}/print" method="GET")
            input(type="hidden" name="artwork_width" value="#{artwork_width}")
            input(type="submit" value="印刷する")



  
  div(style="text-align:center ;")
    svg(id="artwork_svg" style="margin:0 auto; width:#{artwork_width}mm; height:#{artwork_height}mm;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink") 

  if(preview)
    div
      form(action="/purchases/#{artwork.artwork_name}/#{japaname.code}/" method="post")
        input(type="submit" value="購入して印刷する")

block append body-end-scripts
  script(src="/javascripts/jquery.min.js" type="text/javascript")
  script(type="text/javascript" src="/javascripts/snap.svg-min.js")
  - var share_url = "http://japaname.jp/" + japaname.code;

  script(type="text/javascript").
    var artwork_name = "#{artwork.artwork_name}";
    var variables = {
      japaname_string:"#{japaname.names[0].ateji.string}",
      japaname_code:  "#{japaname.code}",
      japaname_url:   "#{japaname.code}",
      original_name:  "#{japaname.names[0].original}",
      qrcode_url  :   "http://chart.apis.google.com/chart?cht=qr&chld=L|0&chs=150x150&chl=#{share_url}"
    };
  script(type="text/javascript" src="/javascripts/artworks.js")

  if print
    script(type="text/javascript").
      setTimeout(function(){
        window.print();

      },1000);


  script(type="text/javascript" src="https://use.typekit.net/yjx8eou.js")
  script try{Typekit.load({ async: true });} catch(e){}

