
extends /template/sub_layout

block sub-content

  h1 ふみコードへのお支払いフォーム

  p 下のボタンから、クレジットカード情報をご入力ください。<br>Stripeの性質上、弊社がクレジットカード情報を保存することはありませんのでご安心ください。

  form(action="/payment" method="POST")
    script( src="https://checkout.stripe.com/checkout.js" 
      class="stripe-button"
      data-key="#{stripe_public_key}"
      data-amount="60000"
      data-name="japana.me"
      data-description="お支払い"
      data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
      data-locale="auto"
      data-zip-code="true"
      data-currency="jpy")
