mixin ateji_box(names)
  div#ateji-scroller
    div#ateji-block

    ul.namesContainer
      each name in names
        - var atejis = name.ateji.populated_atemojis;
        li.namesContainer__cell
          h4.japanameTable__original #{name.original} &raquo; 

          table.japanameTable
            tr.japanameTable__kanaRow
              each ateji in atejis
                td #{ateji.romaji_kana}
            tr.japanameTable__kanjiRow
              each ateji in atejis 
                td.japanameTable__kanjiCell
                  a(href="/characters/kanjis/#{ateji.kanji}")=ateji.kanji
            tr.japanameTable__meaningRow
              each ateji in atejis
                td.japanameTable__meaningCell
                  each meaning in ateji.meanings
                    | #{meaning}
                    br
            tr.japanameTable__commentRow
              each ateji in atejis
                td.japanameTable__commentCell= ateji.comment

      img(src="/images/risumaru_jump_left.png" style="height:50mm;margin-right:-20mm")
