mixin ateji_box(atejis)
  div#ateji-scroller
    div#ateji-block
      table#ateji-table.table
        tr#kanji-row
          th Kanji
          each ateji,index in atejis
            if index == atejis.length-1
              td.stamp
                a(href="/characters/kanjis/#{ateji.kanji}")=ateji.kanji
            else
              td 
                a(href="/characters/kanjis/#{ateji.kanji}")=ateji.kanji
        tr#kana-row
          th Sound
          each ateji in atejis
            td #{ateji.romaji_kana}


        tr#meanings-row
          th Meanings
          each ateji in atejis
            td 
              each meaning in ateji.meanings
                | #{meaning}
                br

        //
          tr.hiragana
            th Hiragana
            td(colspan="#{atejis.length}") #{hiragana}
          tr.katakana
            th Katakana
            td(colspan="#{atejis.length}") #{katakana}

