mixin ateji_search(original_name,  placeholder, button, focus, fontSize, height)
  form.jnSearchBox(role="search" method="get" action="/names/candidates/" style="font-size:#{fontSize ||'3rem' };height:#{height || '5rem'}")
    button.jnSearchBox__button(type="submit") #{button || "Go!"}
    input.jnSearchBox__textbox(id="original_name" name="original_name" type="search" placeholder="#{placeholder || 'Enter Your Name'}" value ="#{original_name || ''}")

  if focus
    script(type="text/javascript").
      window.onload = function(){
        document.getElementById("original_name").focus();
        //it's in the ateji_search
      }




