extends /template/basic_layout

block append variables
  - title = "api";
  - description = "description";
  - body_id = "bg-white";

block content
  h1 Japaname outer ver. 0.01

  form.jnSearchBox(role="search" method="get" action="/names/api/")
    input.jnSearchBox__textbox(id="original_name" name="original_name" type="search" placeholder="#{placeholder || 'Enter Your Name'}" value ="#{original_name || ''}")

    button.jnSearchBox__button(type="submit") #{button || "Go!"}

  candidate-table


block append body-end-scripts


  script(src="/javascripts/riot.min.js")
  script(src="/riotjs/candidate-table.js")
  script.
    riot.mount("candidate-table", {
      syllables: !{JSON.stringify(name_objs[0].syllables)}, 
      syllables_table: !{JSON.stringify(name_objs[0].syllables_table)}, 
    });


  

  // なぜかいきなりトップにもどるスクロール我発生する謎のバグ
  // Bitters いれたらなったきがする。ガチで意味分からん。むかつく。
  //


