extends /template/basic_layout

block append variables
  - title = "" + original_name + " in kanji. Select from many candidates!";
  - description = "Japaname candidates of "+ original_name +". Select kanji you like from many candidates which fits your name sound. You can choose your kanji by meanings or shape of kanji.";
  - tweet =  "Kanji candidates of " + original_name;
  - share_url = url; 
  - body_id = "bg-candidates";

block topbar
  topbar

block content

  img.hangingRisumaru.hangingRisumaru--left(src="/images/risumaru_hang_scope_right.png" )

  form(id="selected-form" method="POST" action="/names")
    input(type="hidden" name="original_name" value="#{original_name}")
    input#selected_ateji(type="hidden" name="ateji"  value="")

  div#kanji-selected-wrapper
    div#kanji-selected-container
      div#kanji-selected-box
        p#kanji-selected
          span
            
        p#japanese-sound
      div#kanji-button-container
        p
          button.gonext &raquo;Go<br>Next!
  div#kanji-selected-container-margin


  div#ateji-cands-container
    include ./include/candidates_table.jade

    each name_obj in name_objs
      +ateji_cands(name_obj)

    p.text-center.h2
      button#ateji-bottom-button &raquo;Go Next!
    
    script(type="text/javascript" ).
      (function(){
        var form = document.getElementById("selected-form");
        var container = document.getElementById("kanji-selected-container");
        var bottom_button = document.getElementById("ateji-bottom-button");
        bottom_button.onclick = container.onclick = function(){
          form.submit();
        };
      }());

    h4 Your Katakana カタカナ

    p.kana-string 
      each name_obj in name_objs
        | #{name_obj.katakana}  

    h4 Your Hiragana ひらがな

    p.kana-string 
      each name_obj in name_objs
        | #{name_obj.hiragana}  

block footer
  include /include/footer.jade

block append body-end-scripts

  script(src="/javascripts/riot.min.js")
  script(src="/riotjs/japaname-searchbox.js")
  script(src="/riotjs/topbar.js")
  script.
    var topbar = riot.mount("topbar", {
      user: !{user ? JSON.stringify(user):"null" },
      drawLogo: true,
      drawSearchbox:true,
      text:"#{original_name}"
    })[0];

  //script(src="/javascripts/myscript.js")

  // なぜかいきなりトップにもどるスクロール我発生する謎のバグ
  // Bitters いれたらなったきがする。ガチで意味分からん。むかつく。
  //

  script.
    $(function(){
      $topbar = $("#topbar");
      $kanjiSelected = $("#kanji-selected-wrapper");
      $body = $("body");
      $(window).scroll(function () {
        var scrolltop = $(window).scrollTop(); 
        
        if(scrolltop > 0) {
          //トップバーを消す
          $topbar.hide();
          $kanjiSelected.addClass("notopbar");

        } else {
          //トップバーを復活
          $topbar.show();
          $kanjiSelected.removeClass("notopbar");
        }
      });
    });

  script(src="https://use.typekit.net/yjx8eou.js")
  script try{Typekit.load({ async: true });}catch(e){}


