extends /template/sub_layout

block append variables
  - name = japaname.names[0]
  - title = name.ateji.string +" --- japaname of " + name.original;

  - tweet = 'Got a japaname"'+ name.ateji.string +'" from my name "'+ name.original+'" on ';
  - hashtag = "japaname";
  - share_url = "http://" + "japaname.jp" +"/" + japaname.code;
  - description = tweet + " " +  share_url + " #" + hashtag;
  - body_id= "bg-selected";
  - og_image = ""; //!!!!open graph image is required

block append head-end
  //link(rel='stylesheet', href='/stylesheets/webfont.css') 

block sub-content
  div.text-center


    include /include/ateji_box
    h2 japaname of <wbr><strong style="text-transform:capitalize;color:red;">#{name.original}</strong><br>
      | Japaname Code : 
      input.inline(type="text" value="#{japaname.code}") 
    
    mixin ateji_box(name.ateji.populated_atemojis)
    p.text-center Click each kanji and see detail!<br>
      img(src="/images/risumaru_jump_left.png")

  div(style="height:3rem;")
  div
    include /include/sharebox.jade
    if !(user && user.haveRight("arton"))
      +sharebox(tweet, share_url, hashtag)

  if user && user.haveRight("arton")
    div(style="martin-top:2rem;background:white;text-align:center;")

      each artwork in artworks
        a(href="/shops/arton/artworks/#{artwork.artwork_name}/#{japaname.code}/preview") 
          img(src="/images/artworks/#{artwork.artwork_name}.svg" alt="#{artwork.artwork_name}" style="width:50mm;height:#{artwork.ratio * 50}mm")
          | #{artwork.jp_name}


  if !user 
    div#login-ads
      h1 Log-in and Save your japaname
      a.button(href="/auth/login")  Log in!


block append body-end-scripts
  script(type="text/javascript" src="/underscore/underscore-min.js")
  script(type="text/javascript" src="/javascripts/imageProcessing.js")
  script(src="https://use.typekit.net/yjx8eou.js")
  script try{Typekit.load({ async: true });}catch(e){}

