extends /template/sub_layout

block append variables
  - name = japaname.names[0]
  - title = name.ateji.string +" --- japaname of " + name.original;

  - tweet = 'Got a japaname"'+ name.ateji.string +'" from my name "'+ name.original+'" on ';
  - hashtag = "japaname";
  - share_url = "http://" + "japaname.jp" +"/" + japaname.code;
  - description = tweet + " " +  share_url + " #" + hashtag;
  - body_id= "bg-selected";
  - og_image = ""; //!!!!open graph image is required

block append head-end
  //link(rel='stylesheet', href='/stylesheets/webfont.css') 

block sub-content
  div.text-center


    include /include/ateji_box
    h2 japaname of <wbr><strong style="text-transform:capitalize;color:red;">#{name.original}</strong><br>
      | Japaname Code : 
      input.inline(type="text" value="#{japaname.code}") 
    
    mixin ateji_box(name.ateji.populated_atemojis)
    p.text-center Click each kanji and see detail!<br>
      img(src="/images/risumaru_jump_left.png")

  div(style="height:3rem;")
  div
    include /include/sharebox.jade
    if !(user && user.haveRight("arton"))
      +sharebox(tweet, share_url, hashtag)

  if user && user.haveRight("arton")
    div(style="martin-top:2rem;background:white;text-align:center;")
      each artwork in artworks
        a(href="/shops/arton/artworks/#{artwork.artwork_name}/#{japaname.code}/preview") 
          img(src="/images/artworks/#{artwork.artwork_name}.svg" alt="#{artwork.artwork_name}" style="width:50mm;height:#{artwork.ratio * 50}mm")
          | #{artwork.jp_name}

  div
    p(style="text-align:center")
      a(href="http://arton.jp")
        img(src="/images/arton_logo.png" alt="ARTON")

  if !(user && user.haveRight("arton"))
    div.widgetHelper__accessMap
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.6611458134553!2d139.6982283818941!3d35.66071938770297!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ca845f30001%3A0x86c4ae6e4b746366!2sARTON!5e0!3m2!1sja!2sjp!4v1468119874678" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

  if !user 
    div#login-ads
      h1 Log-in and Save your japaname
      a.button(href="/auth")  Log in!


block append body-end-scripts
  script(type="text/javascript" src="/underscore/underscore-min.js")
  script(type="text/javascript" src="/javascripts/imageProcessing.js")
  script(src="https://use.typekit.net/yjx8eou.js")
  script try{Typekit.load({ async: true });}catch(e){}

