extends /template/sub_layout

block append variables
  - title =  "mypage";
  - description = 'mypage'
  - body_id= 'bg-selected'

block sub-content
  if user.haveRight("admin")
    p
      a.button(href="/admin") 管理者ページにいく

  if user.haveRight("kanji-edit")
    p
      a.button(href="/characters/kanjis") 漢字ページにいく


  if user.my_japaname
    h1.text-center
      nobr
        |Mypage of 
        wbr
        strong(style="text-transform:capitalize;color:red;")
          |#{user.my_japaname.names[0].ateji.string}

    include /include/ateji_box
    mixin ateji_box(user.my_japaname.names[0].ateji.populated_atemojis)

  else
    p You haven't registered ATEJI name.
      | Don't you wanna choose one ? 
    include /include/ateji_search
    +ateji_search

  if purchases 
    h1 Purchased items
    ul
      each purchase in purchases
        if(!purchase.closed)
          li
            a(href="/shops/arton/artworks/#{purchase.artwork_name}/#{purchase.japaname.code}")
              |#{purchase.artwork_name} -
              |#{purchase.japaname.code} -
              |#{purchase.japaname.string} -
              |￥#{purchase.price}


  div(style="height:100px")

  //
    h2 Payment information
    ul
      li
        a(href="/mypage/payment_info") Enter payment information
      li
        a(href="/mypage/user_info") Edit user information.
    div(style="height:100px")


  p
    strong
      a(href="/auth/logout/")  logout
    
  div(style="height:100px")

